:root {

}

* {
	box-sizing: border-box;
}


@media (max-width: 900px) {
	.timelineHolder {
		max-width: 90%;
	    clear: both;
	}
}

@media (max-width: 600px) {
	.timelineHolder {
		max-width: 250%;
    	margin-left: -23.5%;
    	width: 146%;
	}

	.timelineY {
		display: none;
	}
}