@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --main-grey: #cecece;
  --accent: #1F64CC;
  --label-main: 'JetBrains Mono';
  --label-fallback: monospace;
}

* {
	box-sizing: border-box;
}

.emphasis {
	font-weight: bold;
	color: var(--accent);
}

.timeline {
	position: relative;
}

.timelineSegment {
	width: 100%;
	display: grid;
	grid-template-columns: 90px 60px auto;
	grid-template-rows: 1fr;
	grid-template-areas: 
	    "year dot fashion";
	margin: 0px;
	position: relative;
	padding-bottom: 1em;
}

.timelineSegment.noItems {
	padding-bottom: 0em;
	height: 30px;
}

.yearLabel {
	grid-area: year;
	text-align: center;
	margin-top: 6px;
	display: grid;
	grid-auto-flow: row;
	font-family: var(--label-fallback);
	font-family: var(--label-main);
}

.yearLabel p {
	margin: 0px;
	color: var(--accent);
}

.yearLabel div {
	margin: 0px;
	height: 185px;
	width: 90px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: -50px;
}

.noItems .yearLabel p {
	color: var(--main-grey);
}

.noItems .yearLabel div{
	display: none;
}

.dotLabel {
	grid-area: dot;
	margin: 0px 0px;
	position: relative;
}

.dotLabel:before {
	content: "";
    width: 0px;
    height: calc(100% + 20px);
    border-left: 1px solid var(--main-grey);
    position: absolute;
    left: 20px;
    z-index: -1;
}

.littleCircle {
	fill: var(--accent);
}

.noItems .dotLabel .littleCircle {
	fill: var(--main-grey);
}

.noItems .dotLabel .bigCircle {
	stroke: var(--main-grey);
}

.dotLabel .bigCircle {
	stroke-width: 3;
	fill: none;
	stroke: var(--accent);
}

.fashionLabel {
	grid-area: fashion;
	margin-bottom: 1.5em;
	margin-top: 18px;
	font-size: 80%;
	position: relative;
}

.fashionLabel:before {
	content: "";
	border-top: 3px solid var(--accent);
	width: calc(100% + 40px);
	position: absolute;
	margin-left: -40px;
}

.noItems .fashionLabel {
	display: none;
}

.fashionLabel p {
	margin: 0px;
	margin-bottom: 0.25em;
	margin-top: 1.25em;
}

.fashionLabel ul {
	margin: 0px;
	font-size: 1.25rem;
	display: grid;
	grid-template-rows: repeat(4, min-content);
	grid-auto-flow: column;
	max-width: 500px;
	line-height: 35px;
}

.fashionLabel ul li img {
	display: inline-block;
	height: 35px;
	width: 20px;
	object-fit: cover;
	object-position: -7px;
	vertical-align: middle;
}

.centreLine {
	stroke: black;
}

.dashLine line:not(.timeLineDash) {
	stroke: black;
}

.timelineHolder {
	max-width: 70%;
}

li:first-child {
    margin-top: 0.25rem;
}

.listOfTrends {
	width: max-content;
}

.listOfTrendsContainer {
	width: 100%;
	overflow-x: auto;
	position: relative;
}

.listOfTrends div {
	width:75px;
	height: 100px;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
}

.selectedTrend {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: minmax(75px, 200px) auto;
	padding: 2em;
	margin-top: 2em;
	margin-left: 3em;
}

.textTrend {
	padding-left: 2em;
}

.selectedTrend img {
	max-height: 200px;
}


@media (max-width: 900px) {
	.timelineHolder {
		max-width: 90%;
	    clear: both;
	}
}

@media (max-width: 600px) {
	.timelineHolder {
		max-width: 250%;
    	margin-left: -23.5%;
    	width: 146%;
	}

	.hideOnSmall {
		display: none;
	}

	.selectedTrend {
		padding: 0em;
		margin-left: -23.5%;
	}

}