@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --main-grey: #8e8e8e;
  --bg: #edecec;
  --accent: #1F64CC;
  --accent-transparent: #1F64CC66;
  --label-main: 'IBM Plex Mono';
  --label-fallback: monospace;
  --small-size: 30px;
  --large-size: 400px;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: var(--bg);
}

p, ul {
	font-size: 1.1em;
    line-height: 1.4em;
}

.bigP {
	font-size: 1.4rem;
	line-height: 2rem;
}

* {
	box-sizing: border-box;
}

.emphasis {
	font-weight: bold;
	color: var(--accent);
}

.timeline {
	position: relative;
}

.timelineSegment {
	width: 100%;
	display: grid;
	grid-template-columns: 80px 60px auto;
	grid-template-rows: 1fr;
	grid-template-areas: 
	    "year dot fashion";
	margin: 0px;
	position: relative;
	max-height: var(--large-size);
	transition: height 1s;
	animation: style-appear 1s ease;
}

.timelineSegment.toRemove {
	animation: style-remove 1s ease;
}

.timelineSegment.toRemove {
	animation: style-remove-var 1s ease;
}

.timelineSegment.noItems {
	max-height: var(--small-size);
	transition: height 1s;
	animation: style-appear-var 1s ease;
}

.yearLabel {
	grid-area: year;
	text-align: center;
	margin-top: 6px;
	display: grid;
	grid-auto-flow: row;
	font-family: var(--label-fallback);
	font-family: var(--label-main);
}

.yearLabel p {
	margin: 0px;
	color: var(--accent);
}

.yearLabel div {
	margin: 0px;
	height: 185px;
	width: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: -50px;
}

.noItems .yearLabel p {
	color: var(--main-grey);
}

.noItems .yearLabel div{
	display: none;
}

.dotLabel {
	grid-area: dot;
	margin: 0px 0px;
	position: relative;
}

.dotLabel svg {
	height: 30px;
}

.dotLabel:before {
	content: "";
    width: 0px;
    height: calc(100% + 20px);
    border-left: 1px solid var(--main-grey);
    position: absolute;
    left: 20px;
    z-index: -1;
    margin-top: 20px;
}

.littleCircle {
	fill: var(--accent);
}

.noItems .dotLabel .littleCircle {
	fill: var(--main-grey);
}

.noItems .dotLabel .bigCircle {
	stroke: var(--main-grey);
}

.dotLabel .bigCircle {
	stroke-width: 3;
	fill: none;
	stroke: var(--accent);
}

.fashionLabel {
	grid-area: fashion;
	margin-bottom: 1.5em;
	margin-top: 18px;
	position: relative;
}

.fashionLabel:before {
	content: "";
    border-top: 2px solid var(--accent);
    width: calc(100% + 60px);
    position: absolute;
    margin-left: -60px;
    margin-top: 1px;
}

.noItems .fashionLabel:before {
    border-top: 1px solid var(--main-grey);
}

.noItems .fashionLabel p, .noItems .fashionLabel ul {
	display: none;
}

.fashionLabel p {
	margin: 0px;
	margin-bottom: 0.5em;
	margin-top: 1.25em;
}

.fashionLabel ul {
	margin: 0px;
	max-width: 500px;
	line-height: 25px;
}

.fashionLabel ul li img {
	display: inline-block;
	height: 35px;
	width: 20px;
	object-fit: cover;
	object-position: -7px;
	vertical-align: middle;
	cursor: pointer;
}

.fashionLabel ul li img:not(.selImage):before {
    position: absolute;
    content: '';
    background-color:var(--accent);
    border-radius:50%;
    opacity:0.5;
    width: 2px;
    height: 2px;
    pointer-events: none;
}


.centreLine {
	stroke: black;
}

.dashLine line:not(.timeLineDash) {
	stroke: black;
}

li:first-child {
    margin-top: 0.25rem;
}

.listOfTrendsContainer {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100vw;
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	background-color: var(--bg);
	z-index: 3;
	margin-left: -64%;
	border-bottom: 1px solid var(--main-grey);
}

.trendScroller {
	width: 100%;
	overflow-x: scroll;
}

.listOfTrends {
	width: max-content;
}

.listOfTrends div {
	cursor: pointer;
	width:75px;
	height: 110px;
	display: inline-block;
	background-size: 90px 100px;
	background-repeat: no-repeat;
	background-position-x: -12px;
	background-position-y: 5px;
}

.listOfTrends div:hover, .trendScroller div.selected {
	background-size: 99px 110px;
	background-position-y: 0px;
	background-position-x: -16px;
}

.trendScroller div.selected {
	background-color: var(--accent-transparent);
}

.selectedTrend {
	margin-top: 2em;
	margin-bottom: 2em;
	display: grid;
	grid-template-columns: 190px minmax(50px, 100%);
	grid-template-areas: 
    "sel-header sel-header"
    "sel-img sel-para";
	grid-template-rows: auto auto;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: calc(245px + 1.4em + 0.5rem);

}

.textTrend {
	padding-left: 2em;
	grid-area: sel-para;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	max-width: 100%;
}

.selectedTrend h3 {
	font-weight: 400;
    font-size: 1.4em;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    grid-area: sel-header;
}

.textTrend p {
    margin-top: 0em;
    flex: 0 1 auto;
    position: relative;
}

.textTrend .chart {
	flex: 0 0 150px;
	position: relative;
}

.textTrend .chart path.main {
	stroke: var(--accent);
}

.imTrend {
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: -20px;
	background-color: var(--accent-transparent);
	grid-area: sel-img;
	height: 230px;
}


@keyframes style-appear {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    100% {
        opacity: 1;
        max-height: var(--large-size);
    }
}

@keyframes style-appear-var {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    100% {
        opacity: 1;
        max-height: var(--small-size);
    }
}

@keyframes style-remove {
	0% {
        opacity: 1;
        max-height: var(--large-size);
    }
    50% {
    	opacity: 0;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}

@keyframes style-remove-var {
	0% {
        opacity: 1;
        max-height: var(--small-size);
    }
    50% {
    	opacity: 0;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}

@media (max-width: 900px) {
	.timelineHolder {
		max-width: 90%;
	    clear: both;
	}

	.selectedTrend {
    	width: 90%;
	}
}

@media (max-width: 760px) {
	.listOfTrendsContainer {
		margin-left: -21.5%;
	}
}

@media (max-width: 600px) {
	.timelineHolder {
		max-width: 95vw;
    	margin-left: -25%;
    	padding-left: 4vw;
    	width: 100vw;
    	overflow: hidden;
	}

	.hideOnSmall {
		display: none;
	}

	.selectedTrend {
		padding: 0em;
		margin-left: -25%;
    	width: 100vw;
    	overflow: hidden;
    	grid-template-columns: 150px minmax(50px, 100%);
	}

	.selectedTrend h3{
		margin-left: 10px;
	}

	.imTrend {
		background-position-x: -30px;
		height: 220px;
	}

	.timeline p, .timeline ul {
		font-size: 1.25em;
    	line-height: 1.35em;
	}

	.fashionLabel ul {
		line-height: 25px;
	}
}

@media (max-width: 450px) {
	.selectedTrend {
    	grid-template-columns: 125px minmax(50px, 100%);
	}

	.selectedTrend h3{
		margin-left: 10px;
	}

	.imTrend {
		height: 100%;
		background-size: 180px 200px;
		background-position-y: 50%;
		background-position-x: -35px;
	}
}