@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --main-grey: #8e8e8e;
  --bg: #edecec;
  --bg-transparent: #edececff;
  --accent: #980505;
  --accent-transparent: #98050544;
  --label-main: 'IBM Plex Mono';
  --label-fallback: monospace;
  --small-size: 30px;
  --large-size: 400px;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: var(--bg);
}

p, ul {
	font-size: 1.1em;
    line-height: 1.4em;
}

.colorWrapper.inverse {
    background-color: var(--accent);
    color: #fff;
}

.bigP {
	font-size: 1.4rem;
	line-height: 2rem;
}

* {
	box-sizing: border-box;
}

.bold {
	font-weight: bold;
}

.emphasis {
	font-weight: bold;
	color: var(--accent);
}

.timeline {
	position: relative;
}

.timelineSegment {
	width: 100%;
	display: grid;
	grid-template-columns: 80px 60px auto;
	grid-template-rows: 1fr;
	grid-template-areas: 
	    "year dot fashion";
	margin: 0px;
	position: relative;
	max-height: var(--large-size);
	transition: height 1s;
	animation: style-appear 1s ease;
}

.timelineSegment.toRemove {
	animation: style-remove 1s ease;
}

.timelineSegment.toRemove {
	animation: style-remove-var 1s ease;
}

.timelineSegment.noItems {
	max-height: var(--small-size);
	transition: height 1s;
	animation: style-appear-var 1s ease;
}

.yearLabel {
	grid-area: year;
	text-align: center;
	margin-top: 6px;
	display: grid;
	grid-auto-flow: row;
	font-family: var(--label-fallback);
	font-family: var(--label-main);
}

.yearLabel p {
	margin: 0px;
	color: var(--accent);
}

.yearLabel div {
	margin: 0px;
	height: 185px;
	width: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: -50px;
}

.noItems .yearLabel p {
	color: var(--main-grey);
}

.noItems .yearLabel div{
	display: none;
}

.dotLabel {
	grid-area: dot;
	margin: 0px 0px;
	position: relative;
}

.dotLabel svg {
	height: 30px;
}

.dotLabel:before {
	content: "";
    width: 0px;
    height: calc(100% + 20px);
    border-left: 1px solid var(--main-grey);
    position: absolute;
    left: 20px;
    z-index: -1;
    margin-top: 20px;
}

.littleCircle {
	fill: var(--accent);
}

.noItems .dotLabel .littleCircle {
	fill: var(--main-grey);
}

.noItems .dotLabel .bigCircle {
	stroke: var(--main-grey);
}

.dotLabel .bigCircle {
	stroke-width: 3;
	fill: none;
	stroke: var(--accent);
}

.fashionLabel {
	grid-area: fashion;
	margin-bottom: 1.5em;
	margin-top: 18px;
	position: relative;
}

.fashionLabel:before {
	content: "";
    border-top: 2px solid var(--accent);
    width: calc(100% + 60px);
    position: absolute;
    margin-left: -60px;
    margin-top: 1px;
}

.noItems .fashionLabel:before {
    border-top: 1px solid var(--main-grey);
}

.noItems .fashionLabel p, .noItems .fashionLabel ul {
	display: none;
}

.fashionLabel p {
	margin: 0px;
	margin-bottom: 0.5em;
	margin-top: 1.25em;
}

.fashionLabel ul {
	margin: 0px;
	max-width: 500px;
	line-height: 25px;
}

.fashionLabel ul li img {
	display: inline-block;
	height: 35px;
	width: 20px;
	object-fit: cover;
	object-position: -7px;
	vertical-align: middle;
	cursor: pointer;
}

.fashionLabel ul li img:not(.selImage):before {
    position: absolute;
    content: '';
    background-color:var(--accent);
    border-radius:50%;
    opacity:0.5;
    width: 2px;
    height: 2px;
    pointer-events: none;
}


.centreLine {
	stroke: black;
}

.dashLine line:not(.timeLineDash) {
	stroke: black;
}

li:first-child {
    margin-top: 0.25rem;
}

.listOfTrendsContainer {
	padding-top: 1em;
	width: calc(100vw - 1px);
	max-width: 230%;
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	background-color: var(--bg);
	z-index: 3;
	margin-left: -64%;
	border-bottom: 1px solid var(--main-grey);
}

.trendScroller {
	width: 100%;
	overflow-x: auto;

}

.trendScroller {
	scrollbar-width: none;
}

.trendScroller::scrollbar {
  display: none;
}

.trendScroller::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.listOfTrends {
	width: max-content;
}

.listOfTrends div {
	cursor: pointer;
	width:75px;
	height: 110px;
	display: inline-block;
	background-size: 90px 100px;
	background-repeat: no-repeat;
	background-position-x: -12px;
	background-position-y: 5px;
	scroll-snap-align: start;
}

.listOfTrends div:hover, .trendScroller div.selected {
	background-size: 99px 110px;
	background-position-y: 0px;
	background-position-x: -16px;
}

.trendScroller div.selected {
	background-color: var(--accent-transparent);
}

.selectedTrend {
	margin-top: 2em;
	margin-bottom: 2em;
	display: grid;
	grid-template-columns: 190px minmax(50px, 100%);
	grid-template-areas: 
    "sel-header sel-header"
    "sel-img sel-para";
	grid-template-rows: auto auto;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: calc(245px + 1.4em + 0.5rem);

}

.arrow {
	position: absolute;
	width: 50px;
	height: 100%;
	top: 0px;
	cursor: pointer;
}

.arrow svg {
	position: absolute;
	width: 16px;
	height:16px;
	fill: none;
	stroke-width: 2;
	stroke: var(--accent);
	top: calc(50% - 8px);
}

.leftArrow {
	left: 0px;
	background: linear-gradient(90deg, var(--bg), transparent);
}

.rightArrow {
	right: 0px;
	background: linear-gradient(90deg, transparent, var(--bg));
}

.leftArrow svg {
	left: calc(25% - 4px); /*fudging the numbers for visual balance*/
}

.rightArrow svg {
	left: calc(75% - 8px);
}

.textTrend {
	padding-left: 2em;
	grid-area: sel-para;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	max-width: 100%;
}

.selectedTrend h3 {
	font-weight: 400;
    font-size: 1.4em;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    grid-area: sel-header;
}

.textTrend p {
    margin-top: 0em;
    flex: 0 1 auto;
    position: relative;
}

.textTrend .chart {
	flex: 0 0 150px;
	position: relative;
}

.textTrend .chart path.main {
	stroke: var(--accent);
}

.imTrend {
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: -20px;
	background-color: var(--accent-transparent);
	grid-area: sel-img;
	height: 230px;
}

.yAxis .domain {
	display: none;
}

.yAxis .tick line {
	stroke-dasharray: 2,2;
	stroke-opacity: 0.5;
}

.xAxisTitle {
	font-size: 10px;
}

table.compareTable {
	border-spacing: 0px;
}

.compareTable tr th {
	border-bottom: 1px solid black;
	text-align: left;
	padding: 5px 5px 5px 0px;
	cursor: pointer;
}

.compareTable tr th:nth-of-type(1),
.compareTable tr th:nth-of-type(3) {
	cursor: no-drop;
}

.compareTable tr td {
	border-bottom: 1px solid var(--main-grey);
	padding: 5px 10px 5px 0px;
}

.compareTable tr > *:nth-of-type(4),
.compareTable tr > *:nth-of-type(5),
.compareTable tr > *:nth-of-type(6) {
	text-align: right;
} 

.compareTable div {
	background-size: cover;
    width: 20px;
    height: 35px;
    background-position-x: -7px;
}

.compareTable svg {
	overflow: visible;
}

.compareTable path {
	stroke: var(--accent);
	stroke-width: 1;
	fill: none;
}

.normalizeButton {
    font-size: 70%;
}

.normalizeButton * {
	vertical-align: middle;
}

.tableHolder.hideExtra {
	height: 531px;
	overflow: hidden;
}

.tableCollapser {
	color: #fff;
    background: var(--accent);
    border: none;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 0.3em 0.6em;
    cursor: pointer;
}

@keyframes style-appear {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    100% {
        opacity: 1;
        max-height: var(--large-size);
    }
}

@keyframes style-appear-var {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    100% {
        opacity: 1;
        max-height: var(--small-size);
    }
}

@keyframes style-remove {
	0% {
        opacity: 1;
        max-height: var(--large-size);
    }
    50% {
    	opacity: 0;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}

@keyframes style-remove-var {
	0% {
        opacity: 1;
        max-height: var(--small-size);
    }
    50% {
    	opacity: 0;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}

@media (max-width: 1050px) {
	.listOfTrendsContainer {
		margin-left: -28%;
	}

	.tableHolder {
	    margin-left: -28%;
	    width: 98vw;
	}

	.compareTable {
		width: 80%;
    	margin: 0 auto;
    	padding: 0px 5px;
	}
}

@media (max-width: 900px) {
	.timelineHolder {
		max-width: 90%;
	    clear: both;
	}

	.selectedTrend {
    	width: 90%;
	}

	.compareTable tr > *:nth-child(7) {
		display: none;
	}

	.compareTable tr > *:nth-child(3) svg {
		width: 80px;
		height: 24px;
	}
}

@media (max-width: 600px) {
	.timelineHolder {
		max-width: 98vw;
    	margin-left: -28%;
    	padding-left: 4vw;
    	width: 98vw;
    	overflow: hidden;
	}

	.hideOnSmall {
		display: none;
		width: 98vw;
    	overflow: hidden;
	}

	.selectedTrend {
		padding: 0em;
		margin-left: -28%;
    	width: 98vw;
    	overflow: hidden;
    	grid-template-columns: 150px minmax(50px, 100%);
	}

	.compareTable {
		width: 90%;
	}

	.selectedTrend h3{
		margin-left: 10px;
	}

	.imTrend {
		background-position-x: -30px;
		height: 220px;
	}

	.timeline p, .timeline ul {
		font-size: 1.25em;
    	line-height: 1.35em;
	}

	.fashionLabel ul {
		line-height: 25px;
	}
}

@media (max-width: 450px) {

	.compareTable tr > *:nth-child(6) {
		display: none;
	}

	.listOfTrendsContainer {
    	margin-left: -20%;
	}

	.listOfTrendsContainer {
		margin-left: -20%;
	}

	.tableHolder {
	    margin-left: -20%;
	}

	.timelineHolder {
    	margin-left: -20%;
	}

	.selectedTrend {
		margin-left: -20%;
	}

	.hideOnMobile {
		display: none;
	}

	.selectedTrend {
    	grid-template-columns: 125px minmax(50px, 100%);
	}

	.selectedTrend h3{
		margin-left: 10px;
	}

	.imTrend {
		height: 100%;
		background-size: 180px 200px;
		background-position-y: 50%;
		background-position-x: -35px;
	}

	.compareTable tr > *:nth-child(3) svg {
		width: 56px;
		height: 15px;
	}
}

@media (max-width: 400px) {

	.fashionLabel {
		font-size: 95%;
	}

	.timeline p, .timeline ul {
    	font-size: 1.15em;
    	line-height: 1.35em;
	}
}